<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/general_style.css"> <!-- Подключение стилей -->
    <title>Учебный Путь</title>
</head>
<body>

     <!-- header -->

    <header class="header">


        <div class="header-content">

            <a href="#"><img src="../img/Logo.png" alt="logo"></a>

            <ul class="navigation_bar">
            
           
                <li><a href="#">Главная</a></li> 
                <li><a href="#">О нас</a></li> 
                <li><a href="#">Тесты</a></li> 
                <li><a href="#">Университеты</a></li> 
                <li><a href="#">Профессии</a></li> 
                <li><a href="#">Отзывы</a></li> 
            </ul>
        </div>
        <!-- Список навигации -->
       
    </header>
    
    
    <!-- general -->

    <div class="content_about">

        <h1 class="h1">
            Study Path
        </h1>

        <div class="site-description">
            Добро пожаловать на StudyPath — ваш идеальный помощник в 
            выборе <br /> университета! Здесь вы найдете все для успешного поступления: 
            советы, ресурсы и <br /> поддержку от студентов. Яркий дизайн и удобная навигация 
            сделают ваш путь к <br /> высшему образованию легким и  вдохновляющим. Присоединяйтесь к StudyPath и <br /> начните свое путешествие к успеху! 
        </div>

    </div>


    <!-- test content -->


    <div class="content_test">


        <div class="content-test-text">

                <div class="content_test-text-title">
                    Тест на проф ориентацию
                </div>

                <div class="content_test-text-desciption">
                    Если вы не определились с <br /> дальнейшей проффессией <br /> 
                    можете пройти наш тест на <br /> проф ориентацию на основе <br /> искуственного интелетка
                </div>

                <div class="content_test-text-button">
                    <a class="take-the-test-btn" href="#">Пройти тест</a>
                </div>
        </div>


        <div class="content_test-img">

            <img src="../img/study.png" alt="img">

        </div>

    </div>



    <!-- best-universities_content -->

    <div class="best-universities_content-title">
        Топ три университета мира
    </div>

    <div class="best-universities_content">

        

        <div class="best-universities_content-1">
            <img src="../img/top_university.png" alt="">
            <div class="name-university">
                Оксфордский Университет
            </div>
            <div class="number-of-students">
                более 26 тыс. студентов
            </div>
            <div>
                <span class="rate-university">Рейтинг Университета:</span>
                <div class="rating">

                </div>
            </div>  
        </div>



        <div class="best-universities_content-1">
            <img src="../img/top_university.png" alt="">
            <div class="name-university">
                Оксфордский Университет
            </div>
            <div class="number-of-students">
                более 26 тыс. студентов
            </div>
            <div>
                <span class="rate-university">Рейтинг Университета:</span>
                <div class="rating">

                </div>
            </div>  
        </div>


        <div class="best-universities_content-1">
            <img src="../img/top_university.png" alt="">
            <div class="name-university">
                Оксфордский Университет
            </div>  
            <div class="number-of-students">
                более 26 тыс. студентов
            </div>
            <div>
                <span class="rate-university">Рейтинг Университета:</span>
                <div class="rating">

                </div>
            </div>  
        </div>


        

    </div>

    <a href="#" class="details-btn">Подробнее</a>

    <!-- education-stats-content -->


    <div class="education-stats-content">   

        <div class="education-stats-content-1">

            <img src="../img/university_icon.png" alt="icon">
            <div class="university-count">10 000</div>
            <span>Университетов</span>

        </div>

        <div class="education-stats-content-2">

            <img src="../img/study_centre_icon.png" alt="icon">
            <div class="study-centre-count">10 000</div>
            <span>Учебных центров</span>

        </div>


        <div class="education-stats-content-3">

            <img src="../img/instituts_icon.png" alt="icon">
            <div class="study-centre-count">10 000</div>
            <span>Учебных центров</span>

        </div>



    </div>

    <!-- best-study_centre_content -->


    <div class="best-study_centre_content-title">
        Топ учебных центров
    </div>

    <div class="best-universities_content">

        

        <div class="study_centre_content-1">
            <img src="../img/top_university.png" alt="">
            <div class="name-university">
                Оксфордский Университет
            </div>
            <div class="number-of-students">
                более 26 тыс. студентов
            </div>
            <div>
                <span class="rate-university">Рейтинг Университета:</span>
                <div class="rate-university">

                </div>
            </div>  
        </div>



        <div class="study_centre_content-2">
            <img src="../img/top_university.png" alt="">
            <div class="name-university">
                Оксфордский Университет
            </div>
            <div class="number-of-students">
                более 26 тыс. студентов
            </div>
            <div>
                <span class="rate-university">Рейтинг Университета:</span>
                <div class="rate-university">

                </div>
            </div>  
        </div>



        <div class="study_centre_content-3">
            <img src="../img/top_university.png" alt="">
            <div class="name-university">
                Оксфордский Университет
            </div>
            <div class="number-of-students">
                более 26 тыс. студентов
            </div>
            <div>
                <span class="rate-university">Рейтинг Университета:</span>
                <div class="rate-university">

                </div>
            </div>  
        </div>


    </div>

    <a href="#" class="details-btn">Подробнее</a>


    <!-- in-demand professions content -->

    <div class="professions-top">Востребованные професии этого года</div>
    
    <div class="in-demand-professions-carousel">
        <div class="card">Университет 1</div>
        <div class="card">Университет 2</div>
        <div class="card">Университет 3</div>
        <div class="card">Университет 4</div>
        <div class="card">Университет 5</div>
        <div class="card">Университет 1</div>
        <div class="card">Университет 2</div>
        <div class="card">Университет 3</div>
        <div class="card">Университет 4</div>
        <div class="card">Университет 5</div>
        <div class="card">Университет 1</div>
        <div class="card">Университет 2</div>
        <div class="card">Университет 3</div>
        <div class="card">Университет 4</div>
        <div class="card">Университет 5</div>
    </div>

    <!-- reviews from our users -->

    <div class="reviews-from-our-users-title">
        Отзывы наших пользователей
    </div>
    
    <div class="reviews-from-our-users">
        <div class="reviews-from-our-users-registration">
            <div class="registration-title">
                Елена   
            </div>
    
            <div class="form">
                <div class="registration-img">
                    <img src="../img/avatar.png" alt="User photo">
                </div>
                <div class="registration-form">
                    Спасибо вам за то, что помогли мне с выбором высшего учебного заведения, 
                    и спасибо за то что помогли мне с постановкой правильных целей и приоритетов! 
                    Теперь я знаю, куда поступать и что делать в дальнейшем!
                </div>
    
                
            </div>
        </div>
    </div>

    <!-- register form -->

    <div class="register">


        <div class="register-form">


            <div class="register-title">Регистрируйтесь чтобы пройти тест</div>

            <div class="register-input-form">
                <input type="email" placeholder="E-mail adress">
                <input type="password" placeholder="Password">
                <input type="text" placeholder="Username">
                <a href="" class="register-btn">Зарегистрироваться</a>
            </div>


        </div>

    </div>


    <!-- footer -->

    <div class="footer">

        <div class="brief-content">
            <div class="logo"></div>
        </div>


        <div class="information-about-site"></div>


        <div class="contacts"></div>


        <div class="social-media"></div>


    </div>

    
    <!-- Подключение скрипта -->
    <script src="../scripts/general_script.js"></script>
</body>
</html>
